* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html {
    font-family: sans-serif;
}
body {
    background-color: black;
    display: flex;
    height: 100vh;
    width: 100%;
}

.colors-container {
    align-self: center;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 100px);
    width: 100%;
}

.box {
    border-radius: 10%;
    height: 90px;
    margin: 5px;
    position: relative;
    width: 90px;
}

.blocker {
    align-items: center;
    color: white;
    display: flex;
    font-size: 16px;
    height: 30px;
    justify-content: center;
    right: 0px;
    position: absolute;
    top: 0px;
    width: 30px;
}

.random-button {
    align-items: center;
	border-radius: 100%;
	background: rgb(244, 67, 54);
    border: none;
    bottom: calc(50vh - 25px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #FFF;
    display: flex;
    font-size: 30px;
    height: 50px;
    justify-content: center;
    left: calc(50% - 25px);
    outline: none;
    position: absolute;
    transition: .3s;
    width: 50px;
}
.random-button:active {
	transform: scale(1.5);
	outline: none;
}
.random-button:focus {
	outline: none;
}
.random-button:hover {
	outline: none;
}

#snackbar, #mini {
	visibility: hidden;
	min-width: 200px;
	height: 50px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 10px;
    padding: 12px;
    position: fixed;
    z-index: 1;
    right: 3%;
    top: 10%;
    font-size: 17px;
}
#snackbar.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#mini{
	width: 20px;
	height: 20px;
    border-radius: 100%;
	min-width: 20px;
	right:3%;
    margin-top: 12px;
    margin-right: 10px;
}
#mini.show{
    visibility: visible;
    -webkit-animation: fadeinm 0.5s, fadeoutm 0.5s 2.5s;
    animation: fadeinm 0.5s, fadeoutm 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {right: 0; opacity: 0;} 
    to {right: 3%; opacity: 1;}
}
@keyframes fadein {
    from {right: 0; opacity: 0;}
    to {right: 3%; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {right: 3%; opacity: 1;} 
    to {right: 0; opacity: 0;}
}
@keyframes fadeout {
    from {right: 3%; opacity: 1;}
    to {right: 0; opacity: 0;}
}

@-webkit-keyframes fadeinm {
    from {right: 0; opacity: 0;} 
    to {right: 3%; opacity: 1;}
}
@keyframes fadeinm {
    from {right: 0; opacity: 0;}
    to {right: 3%; opacity: 1;}
}

@-webkit-keyframes fadeoutm {
    from {right: 3%; opacity: 1;} 
    to {right: 0; opacity: 0;}
}
@keyframes fadeoutm {
    from {right: 3%; opacity: 1;}
    to {right: 0; opacity: 0;}
}